<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1">

    <test name="ProfilePageTests">
        <classes>
            <class name="tests.profilePageTests.ProfilePageTests"/>
        </classes>
    </test>

    <test name="SettingsPageTests">
        <classes>
            <class name="tests.profilePageTests.SettingsPageTests"/>
        </classes>
    </test>

    <test name="MyPayCardsTest" >
        <classes>
            <class name="tests.profilePageTests.MyPayCardsTest"/>
        </classes>
    </test>

    <test name="AdvertTests">
        <classes>
            <class name="tests.advertTests.AdvertTests"/>
        </classes>
    </test>
</suite>